<!DOCTYPE html>
<html>
<head>
    <title>PubMed Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <button id="mode-toggle" class="toggle-button" onclick="toggleMode()">Toggle Mode</button>
    <h1>PubMed Search</h1>

    <form action="/search" method="post">
        <input type="text" name="term" placeholder="Enter search term" required>
        <button type="submit">Search</button>
    </form>

</body>
</html>